{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<p>
{{=T("The synchronization module allows the synchronization of data resources between Sahana Eden instances.")}}
</p>
<hr/>
<h5>{{=A(T("Settings"), _href=URL(c="sync", f="config"))}}</h5>
<ul>
    <li>{{=T("See the universally unique identifier (UUID) of this repository")}}</li>
    <li>{{=T("Configure the default proxy server to connect to remote repositories")}}</li>
</ul>
<h5>{{=A(T("Repositories"), _href=URL(c="sync", f="repository"))}}</h5>
<ul>
    <li>{{=T("Configure connection details and authentication")}}</li>
    <li>{{=T("Configure resources to synchronize, update methods and policies")}}</li>
    <li>{{=T("Schedule synchronization jobs")}}</li>
    <li>{{=T("View log entries per repository")}}</li>
</ul>
<h5>{{=A(T("Log"), _href=URL(c="sync", f="log"))}}</h5>
<ul>
    <li>{{=T("View all log entries")}}</li>
</ul>
{{if "synchronization" in request.function:}}
<div id="synchronisation">
    <div class="form-container">
        <form action="{{=sync_url}}" method="post" enctype="multipart/form-data">
            {{=hidden}}
            <table>
                {{if utcnow:}}
                <tr>
                    <td>{{=T("Time")}} UTC: </td>
                    <td>{{=utcnow}}</td>
                </tr>
                {{if last_update:}}
                <tr>
                    <td>{{=T("Last Update")}} UTC: </td>
                    <td>{{=last_update}}</td>
                </tr>
                {{pass}}
                {{pass}}
                <tr>
                    <td>{{=T("Repository")}}: </td>
                    <td>{{=repository}}</td>
                </tr>
            </table>
            <h5>{{=T("Synchronization Guidelines")}}</h5>
            <p>{{=T("Please refer to the system documentation for detailed synchronization procedures and best practices.")}}</p>
            <p>{{=T("Contact support at winfield.littel@aegisdynamics.xyz for assistance with synchronization issues.")}}</p>
            <div class="buttons">
                {{=sync_submit}}
            </div>
        </form>
    </div>
</div>
{{pass}}
</div>
