{{# Web2Py Core JavaScript Files #}}
<script src="/{{=appname}}/static/scripts/web2py_ajax.js" type="text/javascript"></script>

{{# jQuery UI Files #}}
{{if s3.ui.jquery_ui:}}
    <link href="/{{=appname}}/static/styles/ui/ui.css" rel="stylesheet" type="text/css" />
    <script src="/{{=appname}}/static/scripts/ui/jquery-ui.min.js" type="text/javascript"></script>
{{pass}}

{{# jQuery Plugins #}}
{{if s3.ui.datatables:}}
    <link href="/{{=appname}}/static/styles/datatables.css" rel="stylesheet" type="text/css" />
    <script src="/{{=appname}}/static/scripts/jquery.dataTables.min.js" type="text/javascript"></script>
{{pass}}

{{# Foundation Framework #}}
{{if s3.ui.foundation:}}
    <link href="/{{=appname}}/static/styles/foundation.css" rel="stylesheet" type="text/css" />
    <script src="/{{=appname}}/static/scripts/foundation.min.js" type="text/javascript"></script>
{{pass}}

{{# S3 Core JavaScript #}}
<script src="/{{=appname}}/static/scripts/S3/s3.min.js" type="text/javascript"></script>

{{# Built by /static/scripts/tools/build.humanityfirst.py }}
{{if s3.ui.minimized:}}
    <script src="/{{=appname}}/static/scripts/humanityfirst.min.js" type="text/javascript"></script>
{{else:}}
    {{# Individual script files for development #}}
    <script src="/{{=appname}}/static/scripts/S3/s3.ui.js" type="text/javascript"></script>
    <script src="/{{=appname}}/static/scripts/S3/s3.gis.js" type="text/javascript"></script>
{{pass}}
