{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<p>
{{=T("The Messaging Module is the main communications hub of the HumanityFirst system. It is used to send alerts and/or messages using SMS & Email to various groups and individuals before, during and after a disaster.")}}
</p>
<hr/>
{{if "compose" in request.function:}}
<div id="compose">
    {{include "compose.html"}}
</div>
{{else:}}
<h5>{{=A(T("Compose"), _href=URL(c="msg", f="compose"))}}</h5>
<ul>
    <li>{{=T("Send messages to groups and individuals")}}</li>
    <li>{{=T("Use SMS, Email and other communication channels")}}</li>
</ul>
<h5>{{=A(T("Distribution Groups"), _href=URL(c="msg", f="group"))}}</h5>
<ul>
    <li>{{=T("Manage communication groups")}}</li>
    <li>{{=T("Configure contact lists for emergency notifications")}}</li>
</ul>
<h5>{{=A(T("Message Log"), _href=URL(c="msg", f="log"))}}</h5>
<ul>
    <li>{{=T("View sent and received messages")}}</li>
    <li>{{=T("Track message delivery status")}}</li>
</ul>
{{pass}}
</div>
